.button {
  text-transform: uppercase;
  justify-content: center;
  transition: all 350ms;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1;
  max-width: 100%;
  &.white{
    border: 1px solid #6F6D7B;
    background: $white;
    color: #2A2B30;
  }
  &.blue {
    border: 1px solid $blue;
    background: $blue;
    color: $white;
  }
  &.primary {
    margin: 10px 15px 0;
    padding: 10px 15px;
    font-weight: 400;
    @include text-13;
    min-height: 43px;
    width: 183px;
  }
  &.large {
    min-height: 48px;
    @include text-15;
    font-weight: 600;
    width: 370px;
  }
  &:hover {
    opacity: .6;
  }
  @media screen and (max-width: 1024px) {
    &.primary {
      margin: 5px 10px 0;
    }
  }
  @media screen and (max-width: 640px) {
    &.primary {
      margin: 3vw 3vw 0;
      padding: 3vw 4vw;
      font-size: 4vw;
      width: 40vw;
    }
    &.large {
      padding: 3vw 4vw;
      font-size: 4vw;
      width: 60vw;
    }
  }
  img {
    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
    @media screen and (max-width: 640px) {
      width: 4vw;
      &:first-child {
        margin-right: 2vw;
      }
      &:last-child {
        margin-left: 2vw;
      }
    }
  }
}