@font-face {
  font-family: 'Lato-Regular', sans-serif;
  src: url('/fonts/Lato-Regular.eot');
  src:
          url('/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Lato-Regular.woff') format('woff'),
          url('/fonts/Lato-Regular.ttf') format('truetype');
  //src: url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('/fonts/Raleway-Regular.eot');
  src:
          url('/fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Raleway-Regular.woff') format('woff'),
          url('/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('/fonts/Raleway-Bold.eot');
  src:
          url('/fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Raleway-Bold.woff') format('woff'),
          url('/fonts/Raleway-Bold.ttf') format('truetype');
  //src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
}
@font-face {
  font-family: 'Lato-Bold', sans-serif;
  src: url('/fonts/Lato-Bold.eot');
  src:
          url('/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Lato-Bold.woff') format('woff'),
          url('/fonts/Lato-Bold.ttf') format('truetype');
  //src: url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
}
