.footer {
	background: #3D4050;
	.center {
		&.footer__center {
			justify-content: space-between;
			align-items: center;
			position: relative;
			padding: 30px 30px;
			@include text-13;
			flex-wrap: wrap;
			display: flex;
			color: $white;
		}
	}
	.divider {
		background: #C3C3C3;
		height: 18px;
		width: 1px;
	}
	.upper {
		text-transform: uppercase;
	}
	@media screen and (max-width: 1200px) {
		.copyright {
			max-width: 200px;
		}
	}
	@media screen and (max-width: 1024px) {
		.center {
			&.footer__center {
				flex-direction: column;
			}
		}
		.copyright {
			max-width: 100%;
		}
		.divider {
			display: none;
		}
		.items {
			margin-top: 2vw;
		}
	}
	@media screen and (max-width: 640px) {
		.center {
			&.footer__center {
				font-size: 3vw;
				padding: 6vw;
			}
		}
	}
}
