.grid {
  justify-content: normal;
  margin-bottom: 25px;
  margin-left: -30px;
  .column {
    margin-bottom: 30px;
    height: 100%;
    float: left;
    .cell {
      margin-left: 30px;
      height: 100%;
    }
  }
  &.grid__flex {
    align-items: stretch;
    flex-wrap: wrap;
    display: flex;
  }
  &.grid__two {
    .column {
      width: 50%;
    }
  }
  &.grid__three {
    .column {
      width: 33.3333%;
      &.two {
        width: 66.6666%;
      }
    }
  }
  @media screen and (max-width: 820px) {
    margin-left: -20px;
    .column {
      .column-cell {
        margin-left: 20px;
      }
    }
    &.grid__two {
      .column {
        width: 50%;
      }
    }
    &.grid__three {
      .column {
        width: 100%;
        &.two {
          width: 100%;
        }
      }
    }
  }
}