.header {
	background: rgba(16,16,29,.9);
	position: fixed;
	z-index: 10;
	width: 100%;
	left: 0;
	top: 0;
	.header-center {
		justify-content: space-between;
		position: relative;
		align-items: center;
		max-width: 1232px;
		padding: 0 30px;
		margin: 0 auto;
		display: flex;
		height: 100px;
	}
	.header-logo {
		.logo-link {
			align-items: center;
			display: flex;
		}
		.logo-text {
			text-transform: uppercase;
			@include Raleway-Bold;
			white-space: nowrap;
			font-weight: 800;
			line-height: 1;
			font-size: 0;
			span {
				font-size: 28px;
			}
		}
	}
	.buttons {
		position: absolute;
		right: 30px;
		z-index: 2;
	}
	@media screen and (max-width: 1024px) {
		.header-center {
			height: 65px;
		}
		.header-logo {
			.logo-text {
				font-size: 25px;
			}
		}
	}
	@media screen and (max-width: 640px) {
		.header-center {
			padding: 0 6vw;
			height: 13vw;
		}
		.header-logo {
			.logo-text {
				span {
					font-size: 7vw;
				}
			}
		}
	}

}
