.main-module {
  .module-center {
    max-width: 1232px;
    padding: 0 30px;
    margin: 0 auto;
  }
  &.module-banner {
    position: relative;
    .module-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      left: 0;
      top: 0;
    }
    .module-center {
      position: relative;
      z-index: 2;
    }
    .module-content {
      .module-title {
        text-transform: uppercase;
        @include Lato-Bold;
        font-weight: 700;
      }
    }
  }
  &.module-01 {
    padding: 200px 30px;
    .module-content{
      .module-title {
        @include text-48;
        margin-bottom: 80px;
        max-width: 800px;
        line-height: 1.16;
      }
      .module-text {
        margin-bottom: 80px;
        @include text-20;
        line-height: 1.2;
        & > * {
          margin-bottom: 10px;
        }
        ul {
          padding-left: 1.5em;
          list-style: none;
          li {
            list-style-type:"-  ";
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .module-buttons {
        margin-left: -15px;
      }
    }
  }
  &.module-02 {
    padding: 120px 30px 150px;
    .module-content {
      .module-title {
        margin-bottom: 30px;
        text-align: center;
        @include text-36;
        line-height: 1.2;
        color: $white;
      }
      .module-text {
        margin-bottom: 80px;
        text-align: center;
        @include text-18;
        line-height: 1.2;
        color: #BBBBBB;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .module-center {
      padding: 0 30px;
    }
    &.module-01 {
      padding: 130px 0 80px;
      .module-content{
        .module-title {
          margin-bottom: 50px;
        }
        .module-text {
          margin-bottom: 50px;
        }
        .module-buttons {
          margin-left: -10px;
        }
      }
    }
    &.module-02 {
      padding: 80px 0 100px;
      .module-content{
        .module-title {
          margin-bottom: 50px;
        }
        .module-text {
          margin-bottom: 50px;
        }
        .module-buttons {
          margin-left: -10px;
        }
      }
    }
  }
  @media screen and (max-width: 640px) {
    .module-center {
      padding: 0 6vw;
    }
    &.module-01 {
      background-color: $white;
      padding: 50vh 0 0;
      .module-image {
        background-position: center right;
        height: 50vh;
      }
      .module-content{
        padding: 8vw 0 10vw;
        .module-title {
          margin-bottom: 6vw;
          font-size: 7vw;
        }
        .module-text {
          margin-bottom:6vw;
          & > * {
            margin-bottom: 2vw;
          }
          ul {
            li {
              margin-bottom: 1vw;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .module-buttons {
          margin-right: -3vw;
          margin-left: -3vw;
        }
      }
    }
    &.module-02 {
      padding: 12vw 0;
      .module-content{
        .module-title {
          margin-bottom: 6vw;
        }
        .module-text {
          margin-bottom: 6vw;
          font-size: 4.5vw;
        }
        .module-buttons {
          margin-right: -3vw;
          margin-left: -3vw;
        }
      }
    }
  }
}



.bold {
  font-weight: 700;
  @include Lato-Bold;
}